<% include ../partials/header %>
<section>
  <form action="/humans/<%=human._id%>?_method=PUT" method="POST">
    <label>
      First Name
      <input type="text" value="<%=human.firstName%>" name="human[firstName]">
    </label>
    <label>
      Last Name
      <input type="text" value="<%=human.lastName%>" name="human[lastName]">
    </label>
    <label>
      City
      <input type="text" value="<%=human.city%>" name="human[city]">
    </label>
    <label>
      State
      <input type="text" value="<%=human.state%>" name="human[state]">
    </label>
    <label>
      Image URL
      <input type="text" value="<%=human.image%>" name="human[image]">
    </label>
    <label>
      Image Description
      <input type="text" value="<%=human.imageAlt%>" name="human[imageAlt]">
    </label>
    <div class="flex-container">
      <button>Submit</button>
      <form action="/humans/<%=human._id%>?_method=DELETE" method="POST">
      <button>Delete</button>
      </form>
    </div>
  </form>
</section>
<% include ../partials/footer %>