<% include ../partials/header %>
<section class="show-human">
  <div class="flex-container">
    <h1><%=human.firstName%> <%=human.lastName%></h1>
    <h2><%=human.city%>, <%=human.state%></h2>
  </div>
  <% if(human.averageStars){%>
    <div class="stars-container">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <div class="stars" style="width:<%=(human.averageStars/5) * 100%>%">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
    <h3><%=human.averageStars%></h3>
    <h3><%= human.ratingsCount %> Reviews</h3>
  <%} else {%>
    <h3>
      No Reviews
    </h3>
  <%}%>
  <img class="large-image" src="<%=human.image%>" alt="<%=human.imgAlt%>">
  <p><%= human.description %></p>
  <p class="align-right">Added on: <%=moment(human.createdAt).format(`MMMM Do YYYY`)%></p>
  <% for(comment of human.comments) {%>
    <div class="comments">
      <div class="flex-container">
        <div>
          <a class="not-a-button" href="/humans/<%=comment.author.humanAccount%>">
            <img src="<%= comment.author.image %>" alt="<%= comment.author.imageAlt%>">
          </a>
          <h3><%=comment.author.username%></h3>
        </div>
        <div>
          <div class="stars-container">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <div class="stars" style="width:<%=(comment.stars/5) * 100%>%">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
          <p><%= comment.stars %></p>
          <p><%=moment(comment.createdAt).fromNow()%></p>
        </div>
      </div>
      <p>
        <%= comment.comment %>
      </p>
      <%if(currentUser && comment.author.id.equals(currentUser._id)) {%>
      <a href="/humans/<%=human._id%>/comments/<%=comment._id%>/edit">
        Edit Comment
      </a>
      <%}%>
    </div>
  <%}%>
</section>
  <nav class="nav-bottom">
    <a href="/humans">
      Back
    </a>
    <a href="/humans/<%=human._id%>/comments/new">
      Add Review
    </a>
    <% if(currentUser && human.addedBy.id.equals(currentUser._id)) {%>    
      <a href="/humans/<%=human._id%>/edit">
        Edit
      </a>
    <%}%>
  </nav>

<% include ../partials/footer %>
