<% include ../partials/header %>
<section class="show-human">
  <div class="flex-container">
    <h1><%=human.firstName%> <%=human.lastName%></h1>
    <h2><%=human.city%>, <%=human.state%></h2>
  </div>
  <div class="stars-container">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <div class="stars" style="width:<%=(human.averageStars/5) * 100%>%">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
  </div>
  <h3><%=human.averageStars%></h3>
  <img class="large-image" src="<%=human.image%>" alt="<%=human.imgAlt%>">
  <p class="align-right">Added on: <%=moment(human.createdAt).format(`MMMM Do YYYY`)%></p>
  <% for(comment of human.comments) {%>
    <div class="comments">
      <div class="flex-container">
        <img src="<%= comment.author.image %>" alt="<%= comment.author.imageAlt%>">
        <div>
          <div class="stars-container">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <div class="stars" style="width:<%=(comment.stars/5) * 100%>%">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
          <h3><%= comment.stars %></h3>
        </div>
      </div>
      <div class="flex-container">
        <h3><%=comment.author.username%></h3>
        <h4><%=moment(comment.createdAt).fromNow()%></h4>
      </div>
      <p>
        <%= comment.comment %>
      </p>
      <%if(currentUser && comment.author.id.equals(currentUser._id)) {%>
      <a href="/humans/<%=human._id%>/comments/<%=comment._id%>/edit">
        Edit Comment
      </a>
      <%}%>
    </div>
  <%}%>
</section>
<nav class="nav-bottom">
    <a href="/humans">
      Back
    </a>
    <a href="/humans/<%=human._id%>/comments/new">
      Add Review
    </a>
    <% if(currentUser && human.addedBy.id.equals(currentUser._id)) {%>    
      <a href="/humans/<%=human._id%>/edit">
        Edit
      </a>
    <%}%>
  </nav>
<% include ../partials/footer %>
