<% include ../partials/header %>
<section class="comment-edit">
  <form action="/humans/<%=humanId%>/comments/<%=comment._id%>?_method=PUT" method="POST">
    <div class="flex-container-sb">
      <p>
        Your Review:
      </p>
      <fieldset class="ratings">
        <input type="radio" name="comment[stars]" value="5" class="rating-stars" id="star5">
        <label class="rating-label" for="star5">
          ★
        </label>
        <input type="radio" name="comment[stars]" value="4" class="rating-stars" id="star4">
        <label class="rating-label" for="star4">
          ★
        </label>
        <input type="radio" name="comment[stars]" value="3" class="rating-stars" id="star3">
        <label class="rating-label" for="star3">
          ★
        </label>
        <input type="radio" name="comment[stars]" value="2" class="rating-stars" id="star2">
        <label class="rating-label" for="star2">
          ★
        </label>
          <input type="radio" name="comment[stars]" value="1" class="rating-stars" id="star1">
        <label class="rating-label" for="star1">
          ★
        </label>
      </fieldset>
    </div>
    <textarea name="comment[comment]"><%=comment.comment%></textarea>
    <div class="flex-container">
      <button>
        Update Review
      </button>
      <a href="#" class="delete-button">
        Delete Review
      </a>    
    </div>
  </form>
  <form class="delete-form" action="/humans/<%=humanId%>/comments/<%=comment._id%>?_method=DELETE" method="POST"></form>
</section>
<script defer>
  document.querySelector(`#star<%=comment.stars%>`).setAttribute(`checked`, ``);
</script>
<% include ../partials/footer %>