<% include partials/header %>
<% for(human of humans) { %>
  <section>
    <h1><%=human.firstName%> <%=human.lastName%></h1>
    <h4><%=human.city%>, <%=human.state%></h4>
    <div class="stars-container">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <div class="stars" style="width:<%=(human.averageStars/5) * 100%>%">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
    <h2><%=human.averageStars%></h2>
    <img src="<%=human.image%>" alt="<%=human.imgAlt%>">
    <% if(currentUser && human.addedBy.id.equals(currentUser._id)) {%>   
      <a href="/humans/<%=human._id%>/edit">
        Edit
      </a>
    <%}%>
    <a href="/humans/<%=human._id%>/comments/new">
      Add Comment
    </a>
    <a href="/humans/<%=human._id%>">
      View Human
    </a>
  </section>
<% } %>
<a href="humans/new">Add Person</a>
<% include partials/footer %>