<% include ../partials/header %>
<h1 class="edit-h1">
  Edit Accout
</h1>
<section>
  <form action="/users/<%=user._id%>?_method=PUT" method="POST">
    <label>
      First Name
      <input type="text" value="<%=user.firstName%>" name="user[firstName]">
    </label>
    <label>
      Last Name
      <input type="text" value="<%=user.lastName%>" name="user[lastName]">
    </label>
    <label>
      City
      <input type="text" value="<%=user.city%>" name="user[city]">
    </label>
    <label>
      State
      <input type="text" value="<%=user.state%>" name="user[state]">
    </label>
    <label>
      Image URL
      <input type="text" value="<%=user.image%>" name="user[image]">
    </label>
    <label>
      Image Description
      <input type="text" value="<%=user.imageAlt%>" name="user[imageAlt]">
    </label>
    <label>
      Username
      <input type="text" value="<%=user.username%>" name="user[username]">
    </label>
    <div class="flex-container">
      <button>
        Submit
      </button>
      <a href="/reset">
        Reset Password
      </a>
      <a href="#" class="delete-button">
        Delete Account
      </a>
    </div>
  </form>
  <form class="delete-form" action="/users/<%=user._id%>?_method=DELETE" method="POST">    
  </form>
  
</section>
<% include ../partials/footer %>