<% include ../partials/header %>

<form action="/users/<%=user._id%>?_method=PUT" method="POST">
  <input type="text" value="<%=user.firstName%>" name="user[firstName]">
  <input type="text" value="<%=user.lastName%>" name="user[lastName]">
  <input type="text" value="<%=user.city%>" name="user[city]">
  <input type="text" value="<%=user.state%>" name="user[state]">
  <input type="text" value="<%=user.image%>" name="user[image]">
  <input type="text" value="<%=user.username%>" name="user[username]">
  <button>Submit</button>
</form>

<% include ../partials/footer %>