<% include ../partials/header %>

<h1><%=user.username%></h1>
<h4><%=user.firstName%> <%=user.lastName%></h4>
<h4><%=user.city%>, <%=user.state%></h4>
<img src="<%=user.image%>" alt="<%=user.imageAlt%>">
<h4>Member Since: <%=moment(user.createdAt).format(`MMMM Do YYYY`)%></h4>
<%if(currentUser && user._id.equals(currentUser._id)) {%>
  <a href="/users/<%=user._id%>/edit">
    Edit Account
  </a>
<%}%>

<% include ../partials/footer %>