<% include ../partials/header %>

<section class="user-show">
  <h1><%=user.username%></h1>
  <div class="flex-container">
    <h2>
      <%=user.firstName%> <%=user.lastName%>
    </h2>
    <h2>
      <%=user.city%>, <%=user.state%>
    </h2>
  </div>
  <img class="large-image" src="<%=user.image%>" alt="<%=user.imageAlt%>">
  <p>
    Member Since: <%=moment(user.createdAt).format(`MMMM Do YYYY`)%>
  </p>
  <%if(currentUser && user._id.equals(currentUser._id)) {%>
    <a class="only-button" href="/users/<%=user._id%>/edit">
      Edit Account
    </a>
  <%}%>
</section>

<% include ../partials/footer %>